.bookshelf {
  width: 100%;
  margin: 0 auto;
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  grid-gap: 4rem;
  margin-bottom: 50px;
  border-bottom: 1px solid #b2b2b2;
}
.book__title {
  line-height: 1.3;
}
.book__author {
  margin-bottom: 1rem;
  line-height: 1;
  color: var(--color-dark-gray);
}
.book__rating {
  color: var(--color-body-text);
}