/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Fonts  */
@font-face {
  font-family: "Cooper Hewitt";
  src: url("/assets/fonts/cooperhewitt-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Cooper Hewitt";
  src: url("/assets/fonts/cooperhewitt-light-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* Variables */
:root {
  --color-dark: #242424;
  --color-light: #f2fafc;
  --color-primary: #276262;
  --color-primary-dark: #163939;
  --color-primary-light: #11797b;
  --color-orange: #f7920e;
  --color-azure: #18c8ea;
  --color-gray: #8d9e9e;
  --color-dark-gray: #333f3f;
  --color-light-gray: #e4ebeb;
  --font-family-heading: "Cooper Hewitt", Verdana, sans-serif;
  --font-family-body: "Open Sans", sans-serif;
  --font-family-monospace: "Fira Code", "Courier New", monospace;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.333rem;
  --size-600: 1.77rem;
  --size-700: 3.157rem;
  --size-800: 4.209rem;
  --flow-space: 1em;
  --gutter-space: 2rem;
}

/* Global Styles */
html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-family-heading);
  font-size: 1rem;
  overflow-x: hidden;
}

body > * {
  padding-left: var(--gutter-space);
  padding-right: var(--gutter-space);
}

main {
  flex: auto;
}

img,
figure {
  width: 100%;
  height: auto;
}

a {
  color: var(--color-white);
  text-decoration: underline;
  transition: text-decoration 200ms;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* Text */
p,
ul,
ol,
blockquote,
figure,
code {
  font-family: var(--font-family-body);
  font-size: var(--size-500);
  word-wrap: break-word;
  hyphens: auto;
}

figcaption {
  font-size: var(--size-400);
  background-color: rgba(0, 0, 0, 0.3);
  padding: var(--size-300);
}

code {
  padding: 2px 5px;
}

ol,
ul {
  padding-left: var(--size-600);
}

ul {
  list-style: disc;
}

pre[class*=language-] {
  margin: 2.5rem 0;
  font-size: 1.4rem;
}

h1 {
  font-size: var(--size-800);
}

h2 {
  font-size: var(--size-700);
}

h3 {
  font-size: var(--size-600);
}

blockquote {
  font-style: italic;
  background: var(--color-light-gray);
  padding: 2.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Footer */
footer {
  background: rgba(0, 0, 0, 0.3);
  color: var(--color-light);
}
footer p {
  font-size: var(--size-300);
  font-family: var(--font-family-heading);
  text-align: center;
  padding: 1rem 0;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

.container {
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}

.nav-block {
  padding: var(--gutter-space);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-block-logo a {
  font-size: var(--size-600);
  text-decoration: none;
  color: var(--color-light);
}
.nav-block-logo a span {
  color: var(--color-orange);
}

.nav-block-menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--size-400);
}
.nav-block-menu > * + * {
  margin-left: var(--size-500);
}
.nav-block-menu li a {
  display: flex;
  align-items: center;
}
.nav-block-menu li a svg {
  width: 2rem;
  height: 2rem;
}

form {
  margin: 1.5rem 0;
}

label {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  margin-bottom: 1.5rem;
}

textarea {
  height: 15rem;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  outline-color: transparent;
  border: 1px solid #d6d6d4;
  font-family: var(--font-family-sans);
  font-size: 1.8rem;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  background-color: var(--color-light-gray);
}

button.form__button {
  border-color: transparent;
  outline-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.4rem;
  text-transform: uppercase;
  background-color: var(--color-primary-50);
  color: #fff;
}
button.form__button:hover, button.form__button:active, button.form__button:focus {
  background-color: var(--color-primary-90);
}

.success-message {
  display: block;
  font-size: 2rem;
  padding: 2rem 0;
  font-style: italic;
}

/**
 * Darcula theme
 *
 * Adapted from a theme based on:
 * IntelliJ Darcula Theme (https://github.com/bulenkov/Darcula)
 *
 * @author Alexandre Paradis <service.paradis@gmail.com>
 * @version 1.0
 */
code[class*=language-],
pre[class*=language-] {
  color: #a9b7c6;
  font-family: "Fira Code", Menlo, "Courier New", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.7;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  color: inherit;
  background: rgba(33, 66, 131, 0.85);
}

/* Code blocks */
pre[class*=language-] {
  padding: 2em 1.5em;
  margin: 2.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2b2b2b;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #808080;
}

.token.delimiter,
.token.boolean,
.token.keyword,
.token.selector,
.token.important,
.token.atrule {
  color: #cc7832;
}

.token.operator,
.token.punctuation,
.token.attr-name {
  color: #a9b7c6;
}

.token.tag,
.token.tag .punctuation,
.token.doctype,
.token.builtin {
  color: #e8bf6a;
}

.token.entity,
.token.number,
.token.symbol {
  color: #6897bb;
}

.token.property,
.token.constant,
.token.variable {
  color: #9876aa;
}

.token.string,
.token.char {
  color: #6a8759;
}

.token.attr-value,
.token.attr-value .punctuation {
  color: #a5c261;
}

.token.attr-value .punctuation:first-child {
  color: #a9b7c6;
}

.token.url {
  color: #287bde;
  text-decoration: underline;
}

.token.function {
  color: #ffc66d;
}

.token.regex {
  background: #364135;
}

.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.inserted {
  background: #294436;
}

.token.deleted {
  background: #484a4a;
}

/*code.language-css .token.punctuation {
	color: #cc7832;
}*/
code.language-css .token.property,
code.language-css .token.property + .token.punctuation {
  color: #a9b7c6;
}

code.language-css .token.id {
  color: #ffc66d;
}

code.language-css .token.selector > .token.class,
code.language-css .token.selector > .token.attribute,
code.language-css .token.selector > .token.pseudo-class,
code.language-css .token.selector > .token.pseudo-element {
  color: #ffc66d;
}

/* Post Single */
.posts {
  max-width: 640px;
}

.post {
  max-width: 100%;
  padding: 2rem;
}

.post__header h1 {
  font-size: 4rem;
  line-height: 1.3;
}

p.post__date {
  margin-bottom: 0;
}

p.post__date {
  color: #555;
  font-size: 1.2rem;
}

.post__content {
  padding-top: 20px;
}
.post__content iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

.post_list {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
}

.post_list.latest {
  margin: 0 auto;
}
.post_list.latest .post_list__heading {
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  .post_list.latest {
    margin: 70px auto 0;
  }
}
.post_list__heading {
  font-size: 4.5rem;
}

.post_list__post {
  /* background: linear-gradient(var(--color-accent), var(--color-primary-0)); */
  padding: 2rem 0 1rem;
}

.post_list__post__heading {
  padding: 0;
  margin: 0;
  font-size: 2.2rem;
  font-weight: 700;
}

p.post_list__post__date {
  color: #555;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.bookshelf__year {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

.bookshelf__count {
  float: right;
  font-size: 1.1rem;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-gap: 4rem;
  margin-bottom: 40px;
}

.book__title {
  margin-top: var(--size-400);
}

.book__author {
  line-height: 1;
  margin-bottom: var(--size-400);
  color: var(--color-light);
}

.book__rating {
  color: var(--color-light);
  font-size: var(--size-400);
}

/*# sourceMappingURL=style.css.map */
