<footer class="base--footer">
    <div class="footer__links">
        <a href="/uses">/uses</a>
        <a href="/bookshelf">/bookshelf</a>
        <a href="/now-playing">/now-playing</a>
    </div>
    <div class="footer__colophon">
        {% include "lastfm.njk" %}
        <p>Made with ❤ in Hendersonville, N.C.</p>
    </div>
</footer>