<header class="base--header">
    <div class="base--header-title">
        <h1>
            <a href="/">Rob Lindsey</a>
        </h1>
    </div>
    <div class="base--header-social">
        <ul>
            <li>
                <a rel="me"href="https://social.lol/@robble"><img src="/assets/images/global/mastodon-icon.svg" alt="Mastodon">
                    <span>Mastodon</span></a>
            </li>
            <li>
                <a href="https://github.com/clubrob"><img src="/assets/images/global/github-mark-white.svg" alt="GitHub">
                    <span>GitHub</span></a>
            </li>
        </ul>
    </div>
</header>