<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="{% if excerpt %}{{ excerpt }}{% else %}{{ site.info.description }}{% endif %}">
<meta property="og:title" content="{% if title %}{{ title }} | {{ site.info.title }}{% else %}{{ site.info.title }}{% endif %}">
<meta property="og:description" content="{% if excerpt %}{{ excerpt}}{% else %}{{ site.info.description }}{% endif %}">
<meta property="og:type" content="article">
<meta property="og:url" content="https://roblindsey.com{{ page.url }}">
<meta property="og:image" content="https://roblindsey.com/assets/images/icons/apple-touch-icon.png">
<meta name="theme-color" content="#219653"/>
<meta name="google-site-verification" content="Pz7Lxm5-jyetCWux8IB6M-cxDRGJ_jRDsSJ3cvN9RKk"/>
<meta name="p:domain_verify" content="ade42aa3b4e3abef2865584bdb3919de"/>