---
title: Work
---
{% extends 'layouts/base.njk' %}

{% block content %}
<section class="work flow">
  	<header class="page-intro full-bleed">
		<div class="container flow">
      		<h1 class="page-heading">{{ title }}</h1>
			<p>I'm a web developer and designer. I have experience in PHP, Javascript, and .NET tech stacks. My current workload is mostly custom Wordpress development, working with my design partner at <a href="https://longlivesimple.com">Long Live Simple</a>.</p>
			<p>I'm available for freelance work! Frontend HTML/CSS/JS (VueJS, React, whatever), Wordpress development, UX, SEO, help with hosting or domain email setup. Check me out on <a href="https://github.com/clubrob">GitHub</a> or <a href="https://www.behance.net/robldesign">Behance</a> to see some of my work.</p>
			<a href="/contact" class="button">Hire Me!</a>
		</div>
	</header>
	<article class="container flow">
		<header>
			<h2>Current Work</h2>
		</header>
		<div class="work-grid">
			<figure>
				<a href="https://longlivesimple.com"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919192/Rob%20Lindsey/Work/Screenshot_2020-03-22_Home_-_Long_Live_Simple_2.jpg" alt="Long Live Simple"></a>
				<figcaption><a href="https://longlivesimple.com">Long Live Simple</a> - Custom Wordpress Theme, site configuration.</figcaption>
			</figure>
			<figure>
				<a href="https://www.halfourdeen.com/"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919194/Rob%20Lindsey/Work/Screenshot_2020-03-22_Home_-_Half_Our_Deen_-_A_Matrimony_Muslim_Website.jpg" alt="Half Our Deen"></a>
				<figcaption><a href="https://www.halfourdeen.com/">Half Our Deen</a> - VueJS frontend for .NET backend. Bootstrap theme.</figcaption>
			</figure>
			<figure>
				<a href="https://lasheville.com"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919193/Rob%20Lindsey/Work/Screenshot_2020-03-22_Home_Lasheville_Eyelash_Extensions_Asheville_NC_2.jpg" alt="Lasheville"></a>
				<figcaption><a href="https://lasheville.com">Lasheville</a> - Custom Wordpress Theme, site configuration.</figcaption>
			</figure>
			<figure>
				<a href="https://traveljuliasway.com"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919194/Rob%20Lindsey/Work/Screenshot_2020-03-22_Travel_Julia_s_Way_1.jpg" alt="Travel Julia's Way"></a>
				<figcaption><a href="https://traveljuliasway.com">Travel Julia's Way</a> - Custom Wordpress Theme, site configuration.</figcaption>
			</figure>
			<figure>
				<a href="https://ashleytlee.com"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584920009/Rob%20Lindsey/Work/Screenshot_2020-03-22_Ashley_T_Lee_Christian_Author_and_Speaker_1.jpg" alt="Ashley T. Lee Ministries"></a>
				<figcaption><a href="https://ashleytlee.com">Ashley T. Lee Ministries</a> - Custom Wordpress Theme, site configuration (custom post types, social integration, basic SEO).</figcaption>
			</figure>
			<figure>
				<a href="https://ebenezerbaptistjc.org"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919194/Rob%20Lindsey/Work/Screenshot_2020-03-22_Ebenezer_Baptist_Church_Jefferson_County_Florida_1.jpg" alt="Ebenezer Baptist Church, Jefferson County, Florida"></a>
				<figcaption><a href="https://ebenezerbaptistjc.org">Ebenezer Baptist Church, Jefferson County, Florida</a> - Static, vanilla HTML/CSS/JS site.</figcaption>
			</figure>
		</div>
	</article>
	<article class="container flow">
		<header class="flow">
			<h2>Past Work</h2>
			<p>Websites that are no longer my work. You can see more examples of my past work on my <a href="https://www.behance.net/robldesign">Behance portfolio</a>.</p>
		</header>
		<div class="work-grid">
			<figure>
				<a href="https://www.behance.net/gallery/69423693/Lander-University"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919379/Rob%20Lindsey/Work/Screenshot_2020-03-22_lander1_edited_jpg_JPEG_Image_1460_934_pixels.jpg" alt="Lander University"></a>
				<figcaption><a href="https://www.behance.net/gallery/69423693/Lander-University">Lander University</a> - Sitefinity CMS (.NET) theming, content strategy, full custom design.</figcaption>
			</figure>
			<figure>
				<a href="https://www.behance.net/gallery/21106903/SC-State-Library-Website"><img src="https://res.cloudinary.com/clubrob/image/upload/v1584919380/Rob%20Lindsey/Work/Screenshot_2020-03-22_SCSL_Front_jpg_JPEG_Image_2560_1547_pixels_-_Scaled_56.jpg" alt="South Carolina State Library"></a>
				<figcaption><a href="https://www.behance.net/gallery/21106903/SC-State-Library-Website">South Carolina State Library</a> - Drupal CMS, custom theme, full custom design, content strategy and management.</figcaption>
			</figure>
		</div>
	</article>
</section>
{% endblock %}
