// /* Nav */
.top-bar {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > * + * {
            margin-top: var(--size-400);
        }
    }
}
.nav-block {
    padding: var(--size-600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    > * + * {
        margin-top: var(--size-400);
    }
}
.nav-block-logo {
    a {
        font-size: var(--size-600);
        text-decoration: none;
        color: var(--color-light);
        span {
            color: var(--color-orange);
        }
    }
}
.nav-block-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    font-size: var(--size-400);
    > * + * {
        margin-left: var(--size-500);
    }
    li {
        a {
            display: flex;
            align-items: center;
            svg {
                width: 2rem;
                height: 2rem;
            }
        }
    }

}

@media (min-width: 64rem) {
    .top-bar {
        nav {
            flex-wrap: nowrap;
            > * + * {
                margin-top: 0;
                margin-left: var(--size-500);
            }
        }
    }
    .nav-block {
        width: auto;
        > * + * {
            margin-top: 0;
        }
    }
    .nav-block-menu {
        justify-content: space-between;
        width: auto;
    }
}
