.post_list {
  max-width: 640px;
  margin: 0 auto;
}
.post_list__post {
  padding-top: 40px;
}
.post_list__post__heading {
  padding: 0;
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
}
p.post_list__post__date {
  color: #aaa;
  font-size: 1.3rem;
}