.bookshelf__year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,.3);
    padding: 0.5rem 1rem;
    margin-bottom: var(--size-500);
}
.bookshelf__count {
    font-size: var(--size-400);
}
.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, .5fr));
    grid-gap: var(--step-2);
    margin-bottom: var(--size-600);
}
.book__title {
    font-size: var(--size-400);
    margin-top: var(--size-400);
}
.book__author {
    font-size: var(--size-400);
    line-height: 1;
    margin-bottom: var(--size-400);
    color: var(--color-light);
}
.book__rating {
    color: var(--color-light);
    font-size: var(--size-400);
}
