form {
    margin: 1.5rem 0;
}
label {
    font-weight: bold;
    font-size: var(--step-0);
    padding-bottom: 0.5rem;
    display: block;
}
input,
textarea {
    margin-bottom: 1.5rem;
}
textarea {
    height: 15rem;
}
input[type='text'],
input[type='email'],
textarea {
    width: 100%;
    padding: var(--size-300) var(--size-500);
    border-radius: 5px;
    outline-color: transparent;
    border: 1px solid rgb(214, 214, 212);
    font-size: var(--step-0);
    &:focus {
        background-color: var(--color-light-gray);
    }
}
button.form__button,
.button {
    display: inline-block;
    border: 1px solid var(--color-light);
    background-color: var(--color-dark);
    color: var(--color-light);
    cursor: pointer;
    outline-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 0;
    font-size: var(--step-0);
    text-decoration: none;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
        background-color: var(--color-light);
        color: var(--color-dark);
    }
}
.success-message {
    display: block;
    font-size: 2rem;
    padding: 2rem 0;
    font-style: italic;
}
