<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/assets/images/global/favicon-16x16.png">
  <title>Rob Lindsey</title>
  {% set css %}
    {% include 'postcss/style.pcss' %}
    {% include 'postcss/prism.css' %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
</head>
<body>
  {% include 'partials/header.njk' %}
  <main>
    {% block content %} {% endblock %}
  </main>
  {% include 'partials/footer.njk' %}
  {# <script src="/js/app.bundle.js"></script> #}
</body>
</html>