{% extends 'layouts/base.njk' %}

{% block content %}
  <section class="posts">
    <article class="container flow post">
      <header class="post__header">
        <h1 class="post__title">{{ title }}</h1>
        <p class="post__date">{{ timestamp | parseDateReadable }}</p>
      </header>
      <div class="post__content flow">
        {{ content | safe }}
        <p class="twitter-link"><a>Discuss on Twitter.</a></p>
      </div>
      <script>
        document.querySelector('.twitter-link>a').href = `https://mobile.twitter.com/search?q=${window.location.href}`;
      </script>
    </article>
  </section>
{% endblock %}
