/* Fonts  */
@font-face {
    font-family: Cabin;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(Cabin), local(Cabin-Regular),
        url(/assets/fonts/Cabin.woff2) format('woff2'),
        url(/assets/fonts/Cabin.woff) format('woff');
}

@font-face {
    font-family: Cabin;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Cabin Bold'), local(Cabin-Bold),
        url(/assets/fonts/Cabin-Bold.woff2) format('woff2'),
        url(/assets/fonts/Cabin-Bold.woff) format('woff');
}

/* Variables */
:root {
    --color-dark: #050d0d;
    --color-light: #f2fafc;
    --color-primary: #276262;
    --color-primary-dark: #163939;
    --color-primary-light: #11797b;
    --color-orange: #f7920e;
    --color-azure: #18c8ea;
    --color-gray: #8d9e9e;
    --color-dark-gray: #333f3f;
    --color-light-gray: #e4ebeb;
    --font-family-sans: 'Heebo', Verdana, sans-serif;
    --font-family-serif: 'Crimson Text', Georgia, serif;
    --font-family-monospace: 'Fira Code', 'Courier New', monospace;
    --size-200: 0.563rem;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.77rem;
    --size-600: 3.157rem;
	--size-700: 4.209rem;
    --flow-space: 1em;
    --gutter-space: 2rem;
}

/* Global Styles */
html {
    height: 100%;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-family-serif);
    font-size: 1rem;
    overflow-x: hidden;
}

main {
	flex: auto;
}

img,
figure {
    width: 100%;
    height: auto;
}

a {
    color: var(--color-primary);
    transition: color 200ms;

    &:hover {
        color: var(--color-primary-dark);
    }
}

h1,
h2,
h3 {
    font-weight: 700;
}

//   figure {
// 	position: relative;
// 	overflow: hidden;

// 	img {
// 	  display: block;
// 	}

// 	&:hover {
// 	  figcaption {
// 		opacity: 1;
// 		bottom: 0;
// 		background-color: rgba(255, 255, 255, 0.7);
// 	  }
// 	}
//   }

//   figcaption {
// 	position: absolute;
// 	width: 100%;
// 	opacity: 0;
// 	background-color: rgba(255, 255, 255, 0);
// 	transition: opacity 300ms ease-in-out;
// 	padding: 1rem;
// 	color: var(--color-dark-gray);
// 	font-size: 1.3rem;

// 	a {
// 	  color: var(--color-primary-90);
// 	}
//   }


/* Text */
p,
ul,
ol,
blockquote,
figure {
    font-size: var(--size-400);
    word-wrap: break-word;
    hyphens: auto;
}

code {
    padding: 2px 5px;
}

ol,
ul {
    padding-left: var(--size-600);
}

ul {
    list-style: disc;
}

pre[class*='language-'] {
    margin: 2.5rem 0;
    font-size: 1.4rem;
}

h1 {
    font-size: var(--size-600);
}

h2 {
    font-size: var(--size-500);
    color: var(--color-primary-dark);
}

h3 {
    font-size: var(--size-400);
}

blockquote {
    font-style: italic;
    background: var(--color-light-gray);
    padding: 2.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

main {
    padding-top: var(--gutter-space);
}

.flow > * + * {
	margin-top: var(--flow-space);
}
body > * {
    padding-left: var(--gutter-space);
    padding-right: var(--gutter-space);
}
.full-bleed {
    --gutter-space: 0;
}
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}


@media (min-width: 48em) {

}

/* Header */
.top-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, var(--color-primary-light), var(--color-primary-dark));
    height: 25vh;
    width: 100%;
}
.title {
    h1 {
        font-size: var(--size-600);
        color: var(--color-light);
        line-height: .9;
        span {
            color: var(--color-orange);
        }
    }
}
.page-title {
    padding-top: 1rem;
}

/* Nav */
.nav-block {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--gutter-space);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.nav-block-logo {
    a {
        font-size: var(--size-500);
        text-decoration: none;
        line-height: 0;
        color: var(--color-light);
        span {
            color: var(--color-orange);
        }
    }
}
.nav-block-logo, .nav-block-toggle {
    position: relative;
    z-index: 1;
}
.nav-block-toggle button {
    background: transparent;
    border: 0;
    padding: 0;
}
.nav-block-menu.open .nav-block-menu-wrapper {
    position: static !important;
    height: auto;
    width: auto;
    overflow: auto;
    clip: unset; /* IE6, IE7 */
    clip: unset;
    transform: rotate(0);
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: 100ms, 400ms;
    transition-timing-function: cubic-bezier(0,1.88,.95,.85);
}
.nav-block-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    .nav-block-menu-wrapper {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap; /* added line */
        background: var(--color-primary-dark);
        padding: 3rem;
        margin: 1rem;
        transform-origin: top right;
        opacity: 0;
        transform: rotate(-90deg);
        transition-property: opacity, transform;
        transition-duration: 250ms, 100ms;
        transition-timing-function: linear;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            list-style: none;
            padding: 0;
            margin: 0 0 var(--gutter-space) 0;
            li {
                &:nth-child(-n+2){
                    a {
                        border-bottom: 1px solid var(--color-primary);
                    }
                }
                &:nth-child(odd){
                    a {
                        border-right: 1px solid var(--color-primary);
                    }
                }
                a {
                    border: 1px solid transparent;
                    font-family: var(--font-family-sans);
                    font-size: var(--size-400);
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    padding: var(--size-400);
                    color: var(--color-light);
                    text-decoration: none;
                }
            }
        }
    }
}


/* Content */
.social-icons {
    display: flex;
    justify-content: space-between;
}


/* Footer */
footer {
    background: var(--color-dark);
    color: var(--color-light);
    p {
        font-size: var(--size-200);
        font-family: var(--font-family-sans);
        text-align: center;
        padding: 1rem 0;
    }
}
