---
title: About
permalink: /about/
eleventyNavigation:
    key: /about
    order: 1
---
<section class="about">
    <header class="page-intro">
        <h1 class="page-title">{{ title }}</h1>
    </header>
    <div class="flow">
        <p>I grew up in South Carolina, and now I live in North Carolina with my wife and daughter and cat.</p>
        <p>I've messed around with computers pretty much my whole life, but I pursued a degree in English for reasons of which I'm still not entirely sure. Probably so I could write a sentence like that one.</p>
        <figure>
            <img
        src="/assets/images/global/young-programmer-800.jpg" alt="Young Programmer at work"
        srcset="/assets/images/global/young-programmer-800.jpg 800w,
        /assets/images/global/young-programmer-375.jpg 375w"
      >
            <figcaption>Started early.</figcaption>
        </figure>
        <p>I graduated from the University of South Carolina in Columbia, S.C. I still root for the Gamecocks.</p>
        <p>I love living in the mountains. I love a good meal. I love my family and friends. </p>
        <figure>
            <img
        src="/assets/images/global/old-programmer-800.jpg" alt="Old Programmer selfie"
        srcset="/assets/images/global/old-programmer-800.jpg 800w,
        /assets/images/global/old-programmer-375.jpg 375w"
      >
            <figcaption>Hi.</figcaption>
        </figure>
        <p>I read <a href="/bookshelf">a ton of books</a> and listen to <a href="/now-playing">a lot of music</a>.</p>
    </div>
</section>