---
title: Home
permalink: "/"
---
<section class="home">
    <header>
        <img src="https://res.cloudinary.com/clubrob/image/upload/v1585072337/Rob%20Lindsey/blue-ridge-mountains-1900.jpg" alt="Blue Ridge Mountains">
        <p>I'm a technologist, web developer, and web designer living in the western North Carolina mountains.</p>
    </header>
    <div>
        <h2>Latest</h2>
        {% include "posts-list.njk" %}
    </div>
</section>