---
title: Currently Using
permalink: /uses/
---

<section class="uses">
    <header class="page-intro">
        <h1 class="page-heading">{{ title }}</h1>
    </header>
    <div class="container flow">
        <h3>Hardware</h3>
        <ul>
            <li>I'm back on a Mac M4 Mini. It's a slick little rig with plenty of power. I don't have time for any serious gaming anymore, so I don't really miss Windows.</li>
            <li>iPhone 15 Pro Max</li>
            <li>
                Apple Magic Keyboard with numpad and touch ID.
            </li>
            <li>Couple of LG 4K monitors. Too lazy to look up the model numbers. They're fine.</li>
            <li>
                <a href="https://www.logitech.com/en-us/products/mice/mx-master-3s.910-006557.html">Logitech MX Master 3S mouse</a>.</li>
            <li>
                <a href="https://www.logitech.com/en-us/products/webcams/streamcam.960-001286.html">Logitech StreamCam</a> for my webcam.</li>
            <li>
                <a href="https://steelseries.com/gaming-speakers/arena-7">Steelseries Arena 7</a> gaming speakers.</li>
            <li>
                <a href="https://www.apple.com/airpods-pro/">AirPods Pro</a> for when the kid is asleep.</li>
        </ul>
        <h3>Software</h3>
        <ul>
            <li>
                I've been using <a href="https://vivaldi.com">Vivaldi</a> as my main browser for a couple of years. I love how customizable it is. I'd love to use Safari, but their vertical tab solution is subpar, which is a dealbreaker.</li>
            <li>
                Use a password manager! I use <a href="https://1password.com/">1Password</a>. It's fine.</li>
            <li>
                <a href="https://www.fastmail.com">FastMail</a> for my domain email. Gmail for my personal.</li>
            <li>
                <a href="https://affinity.serif.com/en-us/designer/">Affinity Designer</a> for designing stuff.</li>
            <li>
                <a href="https://affinity.serif.com/en-us/photo/">Affinity Photo</a> for photo editing.</li>
            <li>
                <a href="https://obsidian.md">Obsidian</a> for text notes.</li>
        </ul>
        <h3>Coding</h3>
        <ul>
            <li>
                <a href="https://code.visualstudio.com/">Visual Studio Code</a> is great, but I just started trying out <a href="https://www.cursor.com">Cursor</a>. So far, so good. Dipping my toes in AI-assisted coding a bit.</li>
            <li>
                <a href="https://ghostty.org">Ghostty</a> for my terminal.</li>
            <li>
                <a href="https://www.zsh.org">zsh</a> with <a href="https://ohmyz.sh">oh-my-zsh</a> for my shell.</li>
        </ul>
        <h3>This Site</h3>
        <ul>
            <li>
                <a href="https://11ty.io">Eleventy</a> is still fast and easy, and I love it.</li>
            <li>
                <a href="https://netlify.com">Netlify</a> for hosting.</li>
            <li>
                <a href="https://github.com/clubrob/roblindsey.com">GitHub</a> is where the code lives.</li>
            <li>
                <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> for page templates.</li>
            <li>
                <a href="https://github.com/markdown-it/markdown-it">Markdown</a> for blog posts.</li>
        </ul>
        <h3>Other Stuff</h3>
        <ul>
            <li>I like <a href="https://www.spotify.com/us/">Spotify</a> more than Apple Music.</li>
            <li>
                <a href="https://www.feedbin.com">Feedbin</a> for consuming RSS.</li>
            <li>
                <a href="https://www.wikihow.com/Get-a-Library-Card">A library card</a> and <a href="https://meet.libbyapp.com/">Libby</a>. Free ebooks and audio books. Check out <a href="/bookshelf">what I've been reading</a>.</li>
        </ul>
    </div>
</section>