<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rob Lindsey Design</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/icons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/images/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="top">
      <div class="home">
        <a href="/" id="nav_home_link"><img src="/images/svg/home.svg" alt="Rob Lindsey Design - Home"></a>
      </div>
      <div class="logo">
        <a href="/"><img src="/images/svg/wordmark.svg" alt="Rob Lindsey Design"></a>
      </div>
      <div class="search">
        <a href="#" id="search-activate"><img src="/images/svg/search.svg" alt="Search"></a>
      </div>
    </div>
    <div class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menu__item"><a href="/work" class="navbar__menu__item__link">Work</a></li>
        <li class="navbar__menu__item"><a href="/feed" class="navbar__menu__item__link">Feed</a></li>
        <li class="navbar__menu__item"><a href="/contact" class="navbar__menu__item__link">Contact</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </main>
  <footer id="main-footer">
    <p>&copy; 2018 Rob Lindsey Design. Made in Asheville, N.C.</p>
  </footer>
  <div class="modal" id="item__modal">
    <div class="modal__background"></div>
    <div class="modal__content"></div>
    <button class="modal__close"></button>
  </div>
  <script src="/js/app.bundle.js"></script>
</body>
</html>