{% extends 'layouts/base.njk' %}

{% block content %}
<section class="home">
  <div class="hero">
    <picture class="hero-image">
      <source srcset="/images/global/blue-ridge-mountains.jpg" media="(min-width: 500px)" type="image/jpeg"> 
      <img srcset="/images/global/blue-ridge-mountains.jpg" alt="Blue Ridge Mountains">
    </picture>
  </div>
  {% include 'partials/social.njk' %}
  <div class="the-latest">
    <h2>The Latest</h2>
    <article>
      <h3>The Best of Times in Old Paris</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </article>
    <article>
      <h3>The Worst of Times in Old Paris</h3>
      <p>Maecenas efficitur ante sit amet tellus ornare, id tristique velit venenatis. Donec ultrices rutrum ipsum, eu blandit augue.</p>
    </article>
  </div>
</section>
{% endblock %}