<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rob Lindsey Design</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <div class="top">
      <div class="home">
        <a href="/"><img src="images/svg/botdot.svg" alt="Rob Lindsey Design - Home"></a>
      </div>
      <div class="search">
        <a href="#"><img src="images/svg/search.svg" alt="Search"></a>
      </div>
    </div>
    <div class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__menu__item"><a href="/work" class="navbar__menu__item__link">Work</a></li>
        <li class="navbar__menu__item"><a href="/feed" class="navbar__menu__item__link">Feed</a></li>
        <li class="navbar__menu__item"><a href="/contact" class="navbar__menu__item__link">Contact</a></li>
      </ul>
    </div>
  </nav>
  <main class="container">
    <section class="home">
      <h1 class="title title--home">Hi. I'm Rob.</h1>
      <h2 class="subtitle subtitle--home">Let me build something great for you!</h2>
      <div class="me">
        <p>
          <img src="images/rob-lindsey.jpg" alt="Rob Lindsey">
        </p>
      </div>
    </section>
    <section class="cards">
      
    </section>
    <footer>

    </footer>
  </main>
  <script src="js/app.bundle.js"></script>
</body>
</html>