{% extends "_layout.njk" %}

{% block content %}
<section class="home">
  <h1 class="title home__title">Hi. I'm Rob.</h1>
  <h2 class="subtitle home__subtitle">Let me build something great for you!</h2>
  <div class="me">
    <p>
      <img src="/images/rob-lindsey.jpg" alt="Rob Lindsey">
    </p>
  </div>
</section>
<section id="home__cards">
  <h2 class="home__subtitle subtitle">The Latest</h2>
  <div class="cards">
  </div>
</section>
{% endblock %}