section#search {
  .form {
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(236, 236, 236);
  }
}
.no-results {
  font-size: 1.6rem;
}
.under-search {
  display: flex;
  justify-content: space-between;
}
