section#search {
  width: 70%;
  margin: 0 auto;
  .form {
    margin-top: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(236, 236, 236);
  }
}
.search__title {
  padding: 4rem 0 0;
  font-size: 4.7rem;
}
section#search__cards {
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
  h2 {
    padding-bottom: 0.5rem;
  }
}
.no-results {
  font-size: 1.6rem;
}
