section#work {
  width: 70%;
  margin: 0 auto;
}
.work__title {
  padding: 4rem 0 0;
  font-size: 4.7rem;
}
section#feed__cards {
  padding: 6rem 0;
  width: 70%;
  margin: 0 auto;
  h2 {
    padding-bottom: 0.5rem;
  }
}
