@import 'minireset.css/minireset';
/* Modules */

@import './modules/_variables.pcss';
@import './modules/_global.pcss';
@import './modules/_nav.pcss';
@import './modules/_card.pcss';
@import './modules/_feed_item.pcss';
@import './modules/_tag.pcss';
@import './modules/_modal.pcss';
@import './modules/_form.pcss';
/* Pages */
main {
  padding-top: 80px;
  max-width: 800px;
  margin: 0 auto;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 80px;
}
.logo p {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-family: Cabin, sans-serif;
  font-weight: 700;
  color: $primaryDark;
}
.botdot {
  width: 38px;
  height: 38px;
  margin-right: 5px;
}
svg {

}
.hero-image img {
  border: 8px solid $primaryDark;
}
.twitter-logo:hover {
  .twitter-bg {
    transition: fill 200ms;
    fill: #55ACEE;
  }
  .twitter-fg {
    transition: fill 200ms;
    fill: #ffffff;
  }
}
.github-logo:hover {
  .github-bg {
    transition: fill 200ms;
    fill: #ffffff;
  }
  .github-fg {
    transition: fill 200ms;
    fill: #000000;
  }
}
.linkedin-logo:hover {
  .linkedin-bg {
    transition: fill 200ms;
    fill: #007BB5;
  }
  .linkedin-fg {
    transition: fill 200ms;
    fill: #ffffff;
  }
}
.behance-logo:hover {
  .behance-bg {
    transition: fill 200ms;
    fill: #0057FF;
  }
  .behance-fg {
    transition: fill 200ms;
    fill: #ffffff;
  }
}
.codepen-logo:hover {
  .codepen-bg {
    transition: fill 200ms;
    fill: #FFDD40;
  }
  .codepen-fg {
    transition: fill 200ms;
    fill: #000000;
  }
}
.rss-logo:hover {
  .rss-bg {
    transition: fill 200ms;
    fill: #FF6600;
  }
  .rss-fg {
    transition: fill 200ms;
    fill: #ffffff;
  }
}
