{% extends '_layout.njk' %}

{% block content %}
<section id="work">
  <h1 class="title work__title">Work.</h1>    
</section>
<section id="work__cards">
  <article class="card">
    <div class="card__content content">
      <div class="card__content__body">
        <p>Portfolio coming soon!</p>
        <p>Until then, check out my <a href="https://www.behance.net/robldesign" target="_blank">Behance</a>...</p>
        <p><a href="https://www.behance.net/robldesign" target="_blank"><img src="/images/svg/behance-logo.svg" alt="Behance"></a></p>
        <p>Or my <a href="https://github.com/clubrob" target="_blank">GitHub</a>...</p>
        <p><a href="https://github.com/clubrob" target="_blank"><img src="/images/svg/github-logo.svg" alt="GitHub"></a></p>
      </div>
    </div>
  </article>
</section>
{% endblock %}