---
title: About Rob
---
{% extends 'layouts/base.njk' %}

{% block styleBlock %}
  {% set extraCss %}
    {% include 'css/static.pcss' %}
  {% endset %}
  <style>{{ extraCss | cssmin | safe }}</style>
{% endblock %}

{% block content %}
<section class="about">
  <h1 class="page-heading">{{ title }}</h1>
  
</section>
{% endblock %}