---
title: Home
---
{% extends 'layouts/base.njk' %}

{% block content %}
<section class="home flow">
	<header class="page-intro full-bleed">
		<div class="container flow">
			<h1>Rob Lindsey</h1>
			<p>I'm a technologist, web developer, and web designer living in the western North Carolina mountains.</p>
			<p>
				<figure>
					<img
						src="https://res.cloudinary.com/clubrob/image/upload/v1585072337/Rob%20Lindsey/blue-ridge-mountains-1900.jpg"
						srcset="https://res.cloudinary.com/clubrob/image/upload/t_Mobile%20full%20width/v1585072337/Rob%20Lindsey/blue-ridge-mountains-1900.jpg 375w, https://res.cloudinary.com/clubrob/image/upload/t_Tablet%20full%20width/v1585072337/Rob%20Lindsey/blue-ridge-mountains-1900.jpg, 800w, https://res.cloudinary.com/clubrob/image/upload/t_Desktop%20full%20width/v1585072337/Rob%20Lindsey/blue-ridge-mountains-1900.jpg 1900w"
						alt="Blue Ridge Mountains">
					<figcaption>Blue Ridge Mountains</figcaption>
				</figure>
			</p>
		</div>
	</header>
	<div class="container flow">
		<h2>Latest Posts</h2>
		{% include "partials/posts-list.njk" %}
	</div>
</section>
{% endblock %}
