{% extends 'layouts/base.njk' %}

{% block styleBlock %}
  {% set extraCss %}
    {% include 'css/static.pcss' %}
    {% include 'css/components/post-list.pcss' %}
  {% endset %}
  <style>{{ extraCss | cssmin | safe }}</style>
{% endblock %}

{% block content %}
<section class="home">
  <figure class="hero">
    <img class="hero__image" srcset="/assets/images/global/blue-ridge-mountains.jpg" alt="Blue Ridge Mountains">
    <figcaption class="hero__caption">Blue Ridge Mountains</figcaption>
  </figure>
  {% include 'partials/social.njk' %}
  <div class="post_list latest">
    <h2 class="post_list__heading">The Latest</h2>
    {% for entry in collections.latestPosts %}
      <article class="post_list__post">
          <h3 class="post_list__post__heading">
            <a href="{{entry.url}}">{{ entry.data.title }}</a>
          </h3>
            <p class="post_list__post__date">
              {{ entry.date | parseDateReadable }}
            </p>
          <p class="post_list__post__text">
            {{ entry.data.description }}
          </p>
      </article>
    {% endfor %}
    <div class="read-more">
      <small><a href="/posts">All Posts »</a></small>
    </div>
  </div>
</section>
{% endblock %}