---
title: Links
---
{% extends 'layouts/base.njk' %}

{% block content %}
<section class="links">
	<header class="page-intro full-bleed">
		<div class="container">
				<h1 class="page-heading">{{ title }}</h1>
		</div>
	</header>
	<div class="container flow">
		<h3>Black Lives Matter</h3>
		<ul>
			<li><a href="https://blacklivesmatters.carrd.co/">Collection of Black Lives Matter resources</a></li>
			<li><a href="https://www.joincampaignzero.org/">Campaign Zero</a></li>
			<li><a href="https://www.aclu.org/">ACLU</a></li>
			<li><a href="https://www.naacpldf.org/">NAACP Legal Defense Fund</a></li>
		</ul>
	</div>
</section>
{% endblock %}
