---
title: All Posts
permalink: posts/index.html
---
{% extends 'layouts/base.njk' %}

{% block content %}
	<section class="post_list">
		<header class="page-intro full-bleed">
			<div class="container">
				<h1 class="page-heading">{{ title }}</h1>
				<p><a href="/feed.xml">RSS Feed</a></p>
			</div>
		</header>
		<div class="container flow">
			{% include "partials/posts-list.njk" %}
		</div>
	</section>
{% endblock %}
