---
title: Posts
permalink: posts/index.html
---
{% extends 'layouts/base.njk' %}

{% block content %}
	<section class="post_list">
		<header class="page-intro full-bleed">
			<div class="container">
				<h1 class="page-heading">{{ title }}</h1>
			</div>
		</header>
		<div class="container flow">
			{% for entry in collections.posts %}
				<article class="post_list__post">
					<h3 class="post_list__post__heading">
					<a href="{{entry.url}}">{{ entry.data.title }}</a>
					</h3>
					<p class="post_list__post__date">
						{{ entry.date | parseDateReadable }}
					</p>
					<p class="post_list__post__text">
					{{ entry.data.description }}
					</p>
				</article>
			{% endfor %}
		</div>
	</section>
{% endblock %}
