---
title: Currently Using
---
{% extends 'layouts/base.njk' %}

{% block styleBlock %}
  {% set extraCss %}
    {% include 'css/static.pcss' %}
  {% endset %}
  <style>{{ extraCss | cssmin | safe }}</style>
{% endblock %}

{% block content %}
<section class="uses">
  <h1 class="page-heading">{{ title }}</h1>
  <h3>Hardware</h3>
  <ul>
    <li>My main PC is a refurbed <a href="https://www.lenovo.com/us/en/laptops/thinkpad/thinkpad-yoga/ThinkPad-L380-Yoga/p/22TP2TBL38020M7">Lenovo ThinkPad Yoga L380</a> that I bought super cheap on their clearance site. It's a little ugly but super functional and performant. I made it a little prettier with a sticker from <a href="https://www.facebook.com/thedripolatorcoffeehouse/">my favorite coffee shop</a> on the lid.</li>
    <li>Just upgraded to the iPhone Xs after pushing a 6s to its limits. Also switched to AT&T after three years on Verizon. I'll probably keep jumping between cell carriers as long as they keep giving the best deals to new/switching customers. Great system!</li>
    <li><a href="http://www.wasdkeyboards.com/index.php/products/code-keyboard.html">WASD Code 87-key Keyboard</a> - MX Browns.</li>
    <li><a href="https://smile.amazon.com/gp/product/B071YZJ1G1">Logitech MX Master 2S mouse</a>.</li>
    <li>Samson MediaOne Studio Monitors</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>Windows 10 and Windows Subsystem for Linux (WSL) with Ubuntu from the Microsoft Store. MacOS is more polished, but I don't like being trapped by Apple's sometimes questionable hardware decisions. I like having a choice.</li>
    <li><a href="https://www.virtualbox.org/">VirtualBox</a> for other Linux VMs.</li>
    <li><a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> is awesome these days. Check it out again if you haven't in a while. It's fast, and the dev tools are much improved over just a couple years ago. I have all the browsers installed for testing, but I bailed on Chrome when Google started acting gross.</li>
    <li><a href="https://1password.com/">1Password</a> is a godsend. Use a password manager! Use this one, it's awesome!</li>
    <li><a href="https://www.fastmail.com">FastMail</a> is a great email service, reasonably priced.</li>
    <li><a href="https://www.figma.com/">Figma</a> for designing stuff.</li>
    <li><a href="https://affinity.serif.com/en-us/photo/">Affinity Photo</a> for photo editing.</li>
    <li><a href="https://trello.com/">Trello</a> helps me GTD.</li>
    <li>There is not a perfect note-taking app. I've tried Evernote, Simplenote, Bear, Notes.app, Google Keep, OneNote, and text files in a folder. I've settled on <a href="https://www.onenote.com/">OneNote</a> for now, but it could change at any point!</li>
  </ul>
  <h3>Coding</h3>
  <ul>
    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a> is great. Sometimes it's a little slow, but I think that's because of all the extensions I have running and my old computer. Here are <a href="https://gist.github.com/clubrob/b42feed30f75c6b76339ebd5b878c55c">the extensions I use</a>.</li>
    <li><a href="https://hyper.is">Hyper</a> is a terminal emulator maintained by Zeit. It's a little slow on Windows (runs better on Mac, I've found), but it is pretty. I use it for WSL bash/zsh.</li>
    <li><a href="http://cmder.net/">cmder</a> is another terminal emulator. It is uglier than Hyper and prettier than Powershell. I use it for CMD and Powershell.</li>
    <li>My font of choice for coding is <a href="https://github.com/tonsky/FiraCode">Fira Code</a>. It has nice ligatures, and I don't want to pay $200 for cursive italics, so here we are.</li>
  </ul>
  <h3>This Site</h3>
  <ul>
    <li><a href="https://11ty.io">Eleventy</a> is a static site builder in Javascript. It works with multiple template engines out of the box. It's fast and light, and I love it so far.</li>
    <li>npm scripts for build, watch, and deploy.</li>
    <li><a href="https://now.sh">now by Zeit</a> is super easy hosting and deployment. Their command line tool is so slick. The hosting is fast and reasonably priced. Great alternative to Netlify.</li>
    <li><a href="https://github.com/clubrob/roblindsey.com">GitHub</a> is where the code lives. I also use GitLab sometimes.</li>
    <li><a href="https://mozilla.github.io/nunjucks/">Nunjucks</a> for page templates.</li>
    <li><a href="https://github.com/markdown-it/markdown-it">Markdown</a> for blog posts.</li>
    <li><a href="https://postcss.org/">PostCSS</a> for CSS processing. SCSS syntax. CSSO minification. Styles are minimal and inlined.</li>
    <li><a href="https://www.npmjs.com/package/html-minifier">HTML Minifier</a></li>
  </ul>
  <h3>Other Stuff</h3>
  <ul>
    <li>I like <a href="https://www.spotify.com/us/">Spotify</a> more than Apple Music.</li>
    <li><a href="https://www.inoreader.com">Inoreader</a> for consuming RSS. Trying to wean myself from Twitter and other social media for news and content. RSS is the bess.</li>
    <li>I've used Instapaper and Pocket. I prefer <a href="https://getpocket.com">Pocket</a>, I think. Always changing!</li>
    <li>I use <a href="https://www.hulu.com/live-tv">Hulu's live TV</a> offerings for news and college football.</li>
    <li><a href="https://www.wikihow.com/Get-a-Library-Card">A library card</a> and <a href="https://meet.libbyapp.com/">Libby</a>. Free ebooks and audio books. Check out <a href="/books">what I've been reading</a>.</li>
  </ul>
</section>
{% endblock %}