/* Fonts  */
@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/assets/fonts/cooperhewitt-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('/assets/fonts/cooperhewitt-light-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Variables */
:root {
    --color-dark: #1A211C;
    --color-light: #f2fafc;
    --color-primary: #50b346;
    --color-primary-dark: #163939;
    --color-primary-light: #11797b;
    --color-orange: #f7920e;
    --color-azure: #18c8ea;
    --color-gray: #8d9e9e;
    --color-dark-gray: #333f3f;
    --color-light-gray: #dbdbdb;
    --font-family-heading: 'Cooper Hewitt', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    --font-family-body: 'Open Sans', -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    --font-family-monospace: 'Fira Code', 'Courier New', monospace;
    --size-300: 0.75rem;
    --size-400: 1rem;
    --size-500: 1.333rem;
    --size-600: 1.77rem;
    --size-700: 3.157rem;
    --size-800: 4.209rem;
    --flow-space: 1em;
    --gutter-space: 2rem;
    /* Utopia */
    --fluid-min-width: 320;
    --fluid-max-width: 1024;
    --fluid-min-size: 16;
    --fluid-max-size: 22;
    --fluid-min-ratio: 1.333;
    --fluid-max-ratio: 1.333;

    --fluid-screen: 100vw;
    --fluid-bp: calc(
        (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
            ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
    );
}
@media screen and (min-width: 1024px) {
    :root {
        --fluid-screen: calc(var(--fluid-max-width) * 1px);
    }
}

:root {
    --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
    --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));

    --fluid-min-scale--2: var(--fluid-min-scale--1) * var(--fluid-min-ratio) *
        var(--fluid-min-negative);
    --fluid-max-scale--2: var(--fluid-max-scale--1) * var(--fluid-max-ratio) *
        var(--fluid-max-negative);
    --fluid-min-size--2: (var(--fluid-min-size) * var(--fluid-min-scale--2)) /
        16;
    --fluid-max-size--2: (var(--fluid-max-size) * var(--fluid-max-scale--2)) /
        16;
    --step--2: calc(
        (
            (var(--fluid-min-size--2) * 1rem) +
                (var(--fluid-max-size--2) - var(--fluid-min-size--2)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
    --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
    --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) /
        16;
    --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) /
        16;
    --step--1: calc(
        (
            (var(--fluid-min-size--1) * 1rem) +
                (var(--fluid-max-size--1) - var(--fluid-min-size--1)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-0: var(--fluid-min-ratio);
    --fluid-max-scale-0: var(--fluid-max-ratio);
    --fluid-min-size-0: (var(--fluid-min-size)) / 16;
    --fluid-max-size-0: (var(--fluid-max-size)) / 16;
    --step-0: calc(
        (
            (var(--fluid-min-size-0) * 1rem) +
                (var(--fluid-max-size-0) - var(--fluid-min-size-0)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
    --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
    --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
    --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
    --step-1: calc(
        (
            (var(--fluid-min-size-1) * 1rem) +
                (var(--fluid-max-size-1) - var(--fluid-min-size-1)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
    --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
    --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;
    --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
    --step-2: calc(
        (
            (var(--fluid-min-size-2) * 1rem) +
                (var(--fluid-max-size-2) - var(--fluid-min-size-2)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
    --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
    --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
    --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
    --step-3: calc(
        (
            (var(--fluid-min-size-3) * 1rem) +
                (var(--fluid-max-size-3) - var(--fluid-min-size-3)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
    --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
    --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
    --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
    --step-4: calc(
        (
            (var(--fluid-min-size-4) * 1rem) +
                (var(--fluid-max-size-4) - var(--fluid-min-size-4)) *
                var(--fluid-bp)
        )
    );

    --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
    --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
    --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
    --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
    --step-5: calc(
        (
            (var(--fluid-min-size-5) * 1rem) +
                (var(--fluid-max-size-5) - var(--fluid-min-size-5)) *
                var(--fluid-bp)
        )
    );
}

/* Global Styles */
html {
    height: 100%;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-family-body);
    font-size: var(--step-0);
    overflow-x: hidden;
}

main {
    flex: auto;
    padding-bottom: var(--size-600);
}

img,
figure {
    width: 100%;
    height: auto;
}

a {
    color: var(--color-white);
    text-decoration: underline;
    transition: text-decoration 200ms;

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-heading);
    font-weight: bold;
}

/* Text */
p,
ul,
ol,
blockquote,
figure,
code {
    font-family: var(--font-family-body);
    font-size: var(--step-0);
    word-wrap: break-word;
    hyphens: auto;
}
figcaption {
    font-size: var(--size-300);
    background-color: rgba(0, 0, 0, 0.3);
    padding: var(--size-300);
}

code {
    padding: 2px 5px;
}

ol,
ul {
    padding-left: var(--size-600);
}

ul {
    list-style: disc;
}

pre[class*='language-'] {
    margin: 2.5rem 0;
    font-size: 1.4rem;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
}

h3 {
    font-size: var(--step-2);
}
h4 {
    font-size: var(--step-0);
}

blockquote {
    font-style: italic;
    background: var(--color-light-gray);
    padding: 2.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

/* Footer */
footer {
    background: rgba(0, 0, 0, 0.3);
    color: var(--color-light);
    p {
        font-size: var(--size-400);
        font-family: var(--font-family-heading);
        text-align: center;
        padding: 1rem 0;
    }
}
