<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.info.url | addPathPrefixToFullUrl }}" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Rob Lindsey's {{ name }} RSS Feed</title>
        <link>{{ site.info.url | addPathPrefixToFullUrl }}</link>
        <description>{{ site.info.description }}</description>
        <language>en-us</language>
        {%- for item in collections[collectionName] | reverse %}
            {%- set absolutePostUrl = item.url | htmlBaseUrl(site.info.url) %}
            <item>
                <title>{{ item.data.title }}</title>
                <link>{{ absolutePostUrl }}</link>
                <description>{{ item.content | renderTransforms(item.data.page, site.info.url) }}</description>
                <pubDate>{{ item.date | dateToRfc822 }}</pubDate>
                <dc:creator>{{ site.info.name }}</dc:creator>
                <guid>{{ absolutePostUrl }}</guid>
            </item>
        {%- endfor -%}
    </channel>
</rss>