---
layout: base
---
<div class="base--main__post flow" style="--flow-space: 1.3em;">
    {%- if featuredImage.alt|length %}
        <figure class="post__featured-image">
            <img src="{{ featuredImage.src }}" alt="{{ featuredImage.alt }}">
            <figcaption>Photo by <a href="{{ featuredImage.url }}">{{ featuredImage.credit }}</a>.</figcaption>
        </figure>
    {% endif -%}
    <h2>{{title}}</h2>
    <p class="post__subtitle">{{date | postDate}}</p>
    {{ content | safe }}
</div>