{% extends '_layout.njk' %}

{% block content %}
  <section id="search-results">
    <h1 class="title search-results__title">Results.</h1>
  </section>
  <section id="feed__cards">
    <div class="cards">
    </div>
  </section>
{% endblock %}