.base--notes {
	ul.notes {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 1rem;
			hr {
				margin: 2rem auto;
				width: 60%;
				border: 1px solid var(--paynes-gray);
				border-bottom-width: 0;
			}
		}
		a {
			color: var(--lindsey-blue);
		}
	}
}
.note_list__post__text {
}
.note_list__post {
}
.note_list__post__date {
	font-size: 0.75rem;
	a {
		&:before {
			content: "🔗";
			display: inline-block;
			font-size: 0.55rem;
			margin-right: 0.25rem;
		}
	}
}
.notes_pagination {
	padding-top: 3rem;
	margin: 0 auto;
	display: flex;
	width: 100%;
	justify-content: space-between;
	a {
		font-size: 0.85rem;
	}
}
