<footer id="main-footer">
  <p>&copy; 2018 Rob Lindsey. Made with ❤ in Asheville, N.C.  
    <a href="/about">🍕</a> 
    <a href="/contact">📪</a>
    <a href="/books">📚</a> 
    <a href="/uses">🛠</a> 
  </p>
</footer>