<footer id="main-footer">
  <p>&copy; 2018 Rob Lindsey. Made with ❤ in Asheville, N.C.  
    <a href="/about" title="About">🍕</a> 
    <a href="/contact" title="Contact">📪</a>
    <a href="/books" title="Books">📚</a> 
    <a href="/uses" title="Uses">🛠</a> 
  </p>
</footer>