<footer id="main-footer">
  <p>Made with ❤ in Asheville, N.C.  
    <a href="/about" title="About" class="icon-link">🍕</a> 
    <a href="/contact" title="Contact" class="icon-link">📪</a>
    <a href="/books" title="Books" class="icon-link">📚</a> 
    <a href="/uses" title="Uses" class="icon-link">🔨</a> 
  </p>
</footer>