<header class="top-bar">
  <nav class="nav-block">
    <div class="nav-block-logo">
      <a href="/"><span>Rob</span> <span>Lindsey</span></a>
    </div>
    <div class="nav-block-menu">
      <ul>
        <li>
          <a href="/about" title="About">About</a>
        </li>
        <li>
          <a href="/posts" title="Posts">‍Microblog</a>
        </li>
        <li>
          <a href="/uses" title="Uses">Work</a>
        </li>
        <li>
          <a href="/books" title="Books">Reading</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
