<header class="topbar">
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/"><img class="botdot" src="/assets/images/global/icons/botdot-v2.svg" alt="Rob Lindsey"> Rob Lindsey</a>
    </div>
    <div class="navbar__icons">
      <a href="/about" title="About" class="icon-link">🍕</a> 
      <a href="/posts" title="Posts" class="icon-link">👨‍💻</a>
      <a href="/uses" title="Uses" class="icon-link">🔨</a>
      <a href="/books" title="Books" class="icon-link">📚</a> 
      <a href="/contact" title="Contact" class="icon-link">📪</a>
    </div>
  </nav>
</header>