<ul class="posts">
	{% for entry in collections.posts %}
		<li>
			<article class="post_list__post">
				<h3 class="post_list__post__heading">
				<a href="{{entry.url}}">{{ entry.data.title }}</a>
				</h3>
				<p class="post_list__post__text">
				{{ entry.data.description }}
				</p>
			</article>
		</li>
	{% endfor %}
</ul>
