/* Fonts */

/* Colors */
$mainBg: #fefffe;
$cardBg: #FFFEED;
$primary: #219653;
$primaryDark: #02190A;
$primaryLight: #67CC89;
$bodyColor: #2F3A32;
$darkGray: #4f4f4f;
$lightGray: #efefef;

/* Breakpoints */

$tabletBrk: 768px;