/* Fonts */

/* Colors */
$mainBg: #FFFEF6;
$cardBg: #FFFEED;
$primary: #219653;
$quipColor: #2D9CDB;
$picColor: #EB5757;
$clipColor: #9B51E0;
$darkGray: #4f4f4f;
$lightGray: #efefef;

/* Breakpoints */

$tabletBrk: 768px;